

<h1>New desc</h1>

<%= render 'form' %>

<%= link_to 'Back', descs_path %>

<center>
<a href="#" id="editgoal" data-type="text" data-pk="191" data-url="/post" data-original-title="edit">test</a>

</center>
