fieldset.sectionwrap{ /*fieldset that wraps around each form "page" */
width: 1200px;
height: 427px;
border-width:0;
padding:5px;
}

div.formpaginate {

	width: auto;
		height: 150px;
}


div.sec1{
	float: left;
	width:20%;
	height: 150px;
}
div.sec2{
	float: left;
	width:40%;
		height: 150px;
}
div.sec3{
	float:right;
	width:20%;
		height: 150px;
}

div.formpaginate .sec1 .prev{
	font-size: x-large;
	float: right;
	width: 45px;
	border-radius:45px;
	-webkit-border-radius:45px;
	-moz-border-radius:45px;
	padding:25px 25px;
	background:darkred;
	color:white;
	cursor:hand;
	cursor:pointer;
} 


div.formpaginate .sec3 .next{ /*CSS for "prev" and "next" SPAN elements within paginate container */
font-size: x-large;
float: left;
width: 45px;
border-radius:45px;
-webkit-border-radius:45px;
-moz-border-radius:45px;
padding:25px 25px;
background:darkred;
color:white;
cursor:hand;
cursor:pointer;
}

