<head>
  <title>Kissafrog</title>
  <%= stylesheet_link_tag    "application","jquery.ui.theme","jquery.gritter","jquery.Jcrop","jquery.Jcrop.min" %>
  <%= javascript_include_tag "application","jquery-1.4.4.min","jquery-ui-1.8.7.min","jquery.color","jquery.gritter","jquery.Jcrop" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>