<!DOCTYPE html>
<html>
<head>
  <title>Kissafrog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application","jquery-1.4.4.min","jquery-ui-1.8.7.min" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">

var myform=new formtowizard({
	formid: 'new_user',
	persistsection: false,
	validate: ['user[sex]'],
	revealfx: ['slide', 500]
});

</script>
</head>
<body>

<%= yield %>

</body>
</html>
